/* NAVBAR */
nav {
    background: linear-gradient(90.21deg, #8c46ff 0%, #00e0b8 100%);
}

nav .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

nav .hamburger.active .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}

nav .hamburger.active .bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}

.menuIcons.active {
    display: flex;
}

.bottomMobileNavbar {
    animation: 0.5s boxOpacity;
}

/* Animations */
@keyframes boxOpacity {
    0% {
        opacity: 0;
        /* transform: translateY(-5%); */
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
